#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:#2F4F30;
}
.titulo{
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 2em;
}
.carta{
  position: relative;
  width: 150px;
  left: 40px;
  margin-left: -25px;
}
#computadora-cartas,#jugador-cartas{
 height: 240px;
}
.container h1{
   position: relative;
   left: 10px;
}
